
<% include ../partials/header %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<div class="page container">
    
    <% include ../partials/flash %>
    
    <div class="pageTitle">
        <h2><%=user.username%>'s Profile</h2>
    </div>
    
    <div>

   <div id="userProfileContent">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li id="postTab" role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
        <li id="commentTab" role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="posts">
                <%  for(var i=0; i<campgrounds.length; i++) { 
                    var ground = campgrounds[i]; %>
                    <div class="col-md-3 col-sm-6">
                        <div class="imagePins">
                            <a href="/campgrounds/<%=ground._id%>" class="imagePinsLink"></a>
                            <div class="imgAndCap">
                                <div class="imgbackground" style="background-image: url('https://s3.ca-central-1.amazonaws.com/aseelyelpcamp/<%=ground.image%>');"></div>
                                 <div class="caption">
                                     <% var groundname = ground.name;
                                        if(ground.name.length > 40) {
                                           groundname = groundname.substring(0,40) + "...";
                                        } %>
                                    <p> <%= groundname %></p>
                                </div> <!-- caption end -->
                            </div>
                            <div class="overlay">
                                <% if(currentUser && currentUser.id == ground.author.id) { %>
                                    <!-- Delete -->
                                    <% var groundDelID = ground.id + "groundDelete"; %>
                                    <% var groundDelFormID = ground.id + "groundDeleteForm"; %>
                                    <form id="<%=groundDelFormID%>" class="inline" action="/campgrounds/<%=ground.id%>?_method=DELETE" method="POST"> 
                                        <i id="<%=groundDelID%>" class="fa fa-times groundDelete" aria-hidden="true"></i>
                                    </form>
                                    <script>
                                        $("#<%=groundDelID%>").on("click", function() {
                                            $("#<%=groundDelFormID%>").submit(); 
                                        })
                                    </script>
                                    <!-- Edit-->
                                    <% var groundEditID = ground.id + "groundEdit"; %>
                                    <a href="/campgrounds/<%=ground.id%>/edit">
                                        <i id="<%=groundEditID%>" class="fa fa-pencil-square-o groundEdit" aria-hidden="true"></i>
                                    </a>
                                <% } %>
                            </div>
                            
                        </div> <!-- imagepins end -->
                    </div>
                <%  } %> <!-- End for -->
            </div> <!-- End of posts tab -->
            
            <div role="tabpanel" class="tab-pane" id="comments">
                <div class="col-md-12">
                    <% for(var i=0; i< comments.length; i++) { %>
                         <div class="well">
                             <% var commdateid = "comment_" + i + "_date"; %>
                             <span id="<%=commdateid%>" class="pull-right"></span>
                             <script>
                                var commID = "<%=comments[i]._id%>"; 
                                var mom = moment(parseInt(commID.slice(0,8), 16)*1000).format('YYYY-MM-DD');
                                $('#<%=commdateid%>').text(mom);
                             </script>
                             <p><strong>Campground: </strong><a href="../campgrounds/<%=comments[i].campground.id%>/"><%=comments[i].campground.name%></a></p>
                             <hr class="bold">
                             <p><%=comments[i].text%></p>
                             <% if(currentUser && currentUser.id == comments[i].author.id) { %>
                                <hr class="bold">
                                <a class="btn btn-sky btn-xs" href="../campgrounds/<%=comments[i].campground.id%>/">View</a>
                                <a class="btn btn-warning btn-xs" href="../campgrounds/<%=comments[i].campground.id%>/comments/<%=comments[i]._id%>/edit">Edit</a>
                                <form class="inline" action="../campgrounds/<%=comments[i].campground.id%>/comments/<%=comments[i]._id%>?_method=DELETE" method="POST"> 
                                    <button class="btn btn-tomato btn-xs"> Delete </button>
                                </form>
                            <% } %>
                         </div>
                    <% } %>
                </div>    
            
            </div>


        </div> <!-- End of tab content -->
    </div> <!-- End of user profile content -->
    
    

</div>
   

<% include ../partials/footer %>


