<% include ../partials/header %>

<script type="text/javascript" src="/js/campgroundForm.js"></script>

    <div class="page container">
        <% include ../partials/flash %>
        <div class="row">
        
            <div class="pageTitle">
                <h2>Edit <%=campground.name %></h2>
            </div>
        

            <form action="/campgrounds/<%=campground._id%>?_method=PUT" enctype="multipart/form-data"  method="POST">
        
        
                <!------------------ NAME ----------------->
                <div class="form-group">
                    <label for="campName" class="required">Campground Name</label>
                    <input id="campName" class="form-control" type="text" name="campName" value="<%=campground.name%>" >
                    <div id="campNameError" class="error hidden"></div>
                    <div id="campNameTip" class="tip hidden"> Remaining: <span id="campNameCharsLeft"></span></div>
                </div>
                
                <!---------------- LOCATION --------------->
                <div class="form-group">
                    <label for="location" class="required">Location</label>
                    <input name="location" type="text" class="form-control" id="location" value="<%=campground.location%>">
                    <input name="mapCoord" id="mapCoord" type="hidden" value="<%=campground.latlng%>" >
                    <input name="campgroundCountry" id="campgroundCountry" type="hidden" value="<%=campground.country%>">
                    <div id="locationError" class="error hidden"></div>
                </div>
                
                <!-------------- DESCRIPTION -------------->
                <div class="form-group">
                    <label for="desc" class="required">Description</label>
                    <textarea name="desc" class="form-control req" id="desc" rows="8"><%=campground.description%></textarea>
                    <div id="descError" class="error hidden"></div>
                    <p id="descTip" class="tip hidden"> Remaining: <span id="descCharsLeft"></span></p>
                </div>
                
                <!----------------- IMAGE ----------------->
                <input name="previousImage" id="previousImage" type="hidden" value="<%=campground.image%>" />
                <input name="imageRemoved" id="imageRemoved" type="hidden" value="false" />
                <div class="form-group">
                    <label for="image" class="required">Image</label>
                    <input name="image" type="file" id="image" accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                    <div id="imageInput">
                        <span id="fileName"><%=campground.image%></span>
                        <button id="fileRemove" class="btn btn-sky btn-xs pull-right">Remove Image</button>
                        <button id="fileSelect" class="btn btn-sky btn-xs pull-right">Upload Image</button>
                    </div>
                    <div id="imageError" class="error hidden"></div>
                </div>
                
               
            <button type="submit" class="btn btn-success btn-lg btn-block submit">Submit</button>

            </form>
    
        </div>    
       

    </div><!-- Container End -->

<% include ../partials/footer %>

