
<% include ../partials/header %>

<link rel="stylesheet" href="/external/countryList/css/countrySelect.css">
<script src="/external/countryList/js/countrySelect.min.js"></script>



<header class="jumbotron">
    <div class="jumbotron_box">
        <h1>WELCOME TO YELPCAMP</h1>
        <h4>View our handpicked campgrounds from all over the world</h4>
        <form id="filterByCountryForm" action="/campgrounds" method="GET" class="form-inline filterByCountry">
            <div class="form-group">
                <label for="country" class="sr-only">Country Selector</label>
                <input type="text" name="country" id="country" class="form-control">
                <input type="hidden" name="country_code" id="country_code" />
                <script>
                    $("#country").countrySelect({
            			defaultCountry: '<%=countryCode%>',
            			preferredCountries: ['ca', 'us']
            		});
                </script>
            </div>
            <button id="filterButton" type="submit" class="btn btn-success btn-lng">Filter</button>
        </form>
    </div>
</header>

    
<div class="page container">
    <% include ../partials/flash %>
    
    <div class="campgroundResultsHeading">
        
        <% if(campgrounds.length === 0) { %>
            <h3>There are no campgrounds listed in <%=country%>. Why don't you add one? </h3>
            <a href="/campgrounds/new" class= "btn btn-success btn-md btn-block">Add Campground</a>
        <% } else { %>
            <h3>Campgrounds in <%=country%> </h3>
            <div class="hrContainer"><hr class="dark"></div>
            <div id="campgroundsRow" class="row"></div> <!-- row end -->
            <div class="loadMoreSection">
                <p class= "centeredText"> Showing <span id="numLoaded">0</span> out of <%= campgrounds.length %> Campgrounds </p>
                <button id="loadMore" class="btn btn-success btn-md btn-block">Load More</button>
            </div>
        <% } %>
    </div>
    
   
</div> <!-- Container End -->

<% include ../partials/footer %>


<script>

    var numGroundsToLoad = 16;
    var numGroundsLoaded = 0;
    
    loadCampgrounds(numGroundsLoaded, numGroundsToLoad);
    
    function updateNumLoadedText() {
        $("#numLoaded").empty();
        $("#numLoaded").text(numGroundsLoaded);
    }   
    
    function loadCampgrounds(numGroundsLoaded, numGroundsToLoad) {
      var grounds = <%-JSON.stringify(campgrounds) %>
      for(var i=numGroundsLoaded ; i<numGroundsLoaded + numGroundsToLoad; i++) {
          if(window.numGroundsLoaded < grounds.length ) {
              var campgroundContainerSelector = grounds[i]._id + "Container";
              var htmlToAppend = '<div id="' + campgroundContainerSelector +'" class="col-md-3 col-sm-6"></div>';
              $("#campgroundsRow").append(htmlToAppend);
              var imgPinsThumbnailSelector = grounds[i]._id + "imgPinsThumbnails";
              htmlToAppend = '<a href="/campgrounds/' + grounds[i]._id + '" class="imagePins"><div id="' + imgPinsThumbnailSelector + '" ></div></a>';
              $("#" + campgroundContainerSelector).append(htmlToAppend);
              var imgAndCapSelector = grounds[i]._id + "imgAndCap";
              htmlToAppend = '<div id="' + imgAndCapSelector + '" class="imgAndCap"></div>';
              $("#" + imgPinsThumbnailSelector).append(htmlToAppend);
              htmlToAppend = '<div class="imgbackground" style="background-image: url(\'https://s3.ca-central-1.amazonaws.com/aseelyelpcamp/' + grounds[i].image + '\');"></div>';
              $("#" + imgAndCapSelector).append(htmlToAppend);
              htmlToAppend = '<div id="campgroundCaption" class="caption"><p>' + grounds[i].name + '</p></div>';
              $("#" + imgAndCapSelector).append(htmlToAppend);
              /*htmlToAppend = '<a href="/campgrounds/' + grounds[i]._id + '" class="btn btn-tomato btn-sm btn-block bottomaligned">More Info</a>';*/
              /*$("#" + imgPinsThumbnailSelector).append(htmlToAppend);*/
              window.numGroundsLoaded++;
          }
      }
      updateNumLoadedText();
      if(window.numGroundsLoaded === <%=campgrounds.length%>) {
          $("#loadMore").addClass("disabled");
      }
    }
  
    $("#loadMore").on("click", function() {
          loadCampgrounds(numGroundsLoaded, numGroundsToLoad);   
    });
</script>