
<% include ../partials/header %>

<link rel="stylesheet" href="/external/countryList/css/countrySelect.css">
<script src="/external/countryList/js/countrySelect.min.js"></script>
<script type="text/javascript" src="/js/confirmDelete.js"></script>


<header class="jumbotron">
    <div class="jumbotron_box">
        <h1>WELCOME TO YELPCAMP</h1>
        <h4>View our handpicked campgrounds from all over the world</h4>
        <form id="filterByCountryForm" action="/campgrounds" method="GET" class="form-inline filterByCountry">
            <div class="form-group">
                <label for="country" class="sr-only">Country Selector</label>
                <input type="text" name="country" id="country" class="form-control" onchange="this.form.submit()">
                <input type="hidden" name="country_code" id="country_code" />
                <script>
                    $("#country").countrySelect({
            			defaultCountry: '<%=countryCode%>',
            			preferredCountries: ['ca', 'us']
            		});
                </script>
                
            </div>
            <!--<button id="filterButton" type="submit" class="btn btn-success btn-lng">Filter</button>-->
        </form>
    </div>
</header>




    
<div class="page container">
    <% include ../partials/flash %>
    
    <div class="campgroundResultsHeading">
        
        <% if(campgrounds.length === 0) { %>
            <h3>There are no campgrounds listed in <%=country%>. Why don't you add one? </h3>
            <a href="/campgrounds/new" class= "btn btn-success btn-md btn-block">Add Campground</a>
        <% } else { %>
            <h3>Campgrounds in <%=country%> </h3>
            <div class="hrContainer"><hr></div>
            <div id="campgroundsRow" class="row"></div> 
            <div class="loadMoreSection">
                <p class= "centeredText"> Showing <span id="numLoaded">0</span> out of <%= campgrounds.length %> Campgrounds </p>
                <button id="loadMore" class="btn btn-success btn-md btn-block">Load More</button>
            </div>
        <% } %>
    </div>
    
   
</div> <!-- Container End -->

<% include ../partials/footer %>


<script>

var numGroundsToLoad = 16;
var numGroundsLoaded = 0;

$(document).ready(function() {
    loadCampgrounds(numGroundsLoaded, numGroundsToLoad);
        $(".pinRating").height($(".pinUnrated").height())
    $(window).resize(function() {
        $(".pinRating").height($(".pinUnrated").height())
    });
    
});

function updateNumLoadedText() {
    $("#numLoaded").empty();
    $("#numLoaded").text(numGroundsLoaded);
}   
    
// Center Rating
function adjustLook() {
/*   var imagePinsWidth = $(".imagePins").width();
   var pinRatingWidth = $(".pinRating").width();
   var left = (imagePinsWidth - pinRatingWidth)/2;
   $('.pinRating').css('left', left);
   $('.pinUnrated').css('width', imagePinsWidth);*/
}

function loadCampgrounds(numGroundsLoaded, numGroundsToLoad) {
    var grounds = <%-JSON.stringify(campgrounds) %>;
    for(var i=numGroundsLoaded ; i<numGroundsLoaded + numGroundsToLoad; i++) {
        if(window.numGroundsLoaded < grounds.length ) {
            var id = grounds[i]._id;
            var authorID = grounds[i].author.id;
            var imageName = grounds[i].image;
            var imgUrl = `https://s3.ca-central-1.amazonaws.com/aseelyelpcamp/${imageName}`;
            var campgroundName = grounds[i].name;
            if(campgroundName.length > 40) {
                campgroundName = campgroundName.substring(0,40) + "...";
            }
            $("#campgroundsRow").append(`<div id="${id}Container" class="col-md-3 col-sm-6"></div>`);
            $(`#${id}Container`).append(`<div id="${id}ImagePins" class="imagePins"></div>`);
            $(`#${id}ImagePins`).append(`<a href="/campgrounds/${id}" class="imagePinsLink"></a>`);
            $(`#${id}ImagePins`).append(`<div id="${id}ImgAndCap"class="imgAndCap"></div>`);
            $(`#${id}ImgAndCap`).append(`<div class="imgbackground" style="background-image:url('${imgUrl}');"</div>`);
            $(`#${id}ImgAndCap`).append(`<div id="${id}Caption" class="caption"></div>`);
            $(`#${id}Caption`).append(`<p>${campgroundName}</p>`);
            if(grounds[i].ratings && grounds[i].ratings.length !== 0) {
                $(`#${id}ImgAndCap`).append(`<div class="pinRating"><div id="${id}rating"></div></div>`);
                setAverageRating(grounds[i].ratings, $(`#${id}rating`));
            } else {
                $(`#${id}ImgAndCap`).append('<div class="pinUnrated"><em>Unrated</em></div>');
            }
            $(`#${id}ImagePins`).append(`<div id="${id}Overlay" class="overlay"></div>`);
            if(checkIfCampgroundBelongsToUser(authorID)) {
                $(`#${id}Overlay`).append(`<form id="${id}GroundDeleteForm" class="inline" action="/campgrounds/${id}?_method=DELETE" method="POST"></form>`);
                $(`#${id}GroundDeleteForm`).append(`<i id="${id}GroundDelete" class="fa fa-times groundDelete" aria-hidden="true"></i>`);
                $(`#${id}GroundDelete`).on("click", function() {
                    confirmDelete($(`#${id}GroundDeleteForm`));
                    //$(`#${id}GroundDeleteForm`).submit();
                });
                $(`#${id}Overlay`).append(`<a id="${id}EditLink" href="/campgrounds/${id}/edit"></a>`);
                $(`#${id}EditLink`).append(`<i class="fa fa-pencil-square-o groundEdit" aria-hidden="true"></i>`)
            }
            window.numGroundsLoaded++;
        }
    }// End for
    updateNumLoadedText();
    if(window.numGroundsLoaded === <%=campgrounds.length%>) {
        $("#loadMore").addClass("disabled");
    }
}


// Returns true if campground has been posted by currently logged on user
// If no user logged on, returns false
function checkIfCampgroundBelongsToUser(campgroundAuthorID) {
    var currentUser = <%-currentUser ? JSON.stringify(currentUser) : "null" %>;
    if(currentUser && currentUser._id === campgroundAuthorID) {
        return true;
    }
    return false;
}


$("#loadMore").on("click", function() {
      loadCampgrounds(numGroundsLoaded, numGroundsToLoad);   
});


// Initializes ratingField with the campground rating
function setAverageRating(ratingsArray, ratingField) {
    ratingField.rateYo({
        rating: getAverageRating(ratingsArray, ratingField),
        starWidth: "20px",
        readOnly: true
    });
}


// Given an array of ratings, returns average rating
function getAverageRating(ratingsArray) {
    var total = 0;
    ratingsArray.forEach(function(rating) {
        total += rating.rating;
    });
    console.log("AVG RATING: ", total/ratingsArray);
    return total/ratingsArray.length;
}


</script>