

<% include ../partials/header %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/js/confirmDelete.js"></script>

    <div class="page container">
        
        <% include ../partials/flash %>
        
        <div class="campgroundInfo">
            
            
            <div class="row">
                <div id="campgroundName">
                    <h3><%= campground.name %></h3>
                </div>
                <% if(currentUser && currentUser.id == campground.author.id) { %>
                    <script> $("#campgroundName").addClass('col-md-8')</script>
                    <div class="col-md-2">
                        <a href="/campgrounds/<%=campground._id %>/edit" class="btn btn-info btn-md btn-block"> Edit </a>
                    </div>
                    <div class="col-md-2">
                        <form id="groundDeleteForm" class="inline" action="<%=campground._id%>?_method=DELETE" method="POST">
                            <button id="groundDeleteButton" class="btn btn-danger btn-md btn-block"> Delete </button>
                        </form>
                        <script>
                            $("#groundDeleteButton").on("click", function(e) {
                                e.preventDefault(); 
                               confirmDelete($("#groundDeleteForm")); 
                            });
                        </script>
                    </div>
                <% } %>
            </div> <!-- End Row: Campground Title Area -->
            
            <hr >
            
            <img class="img-responsive" src="https://s3.ca-central-1.amazonaws.com/aseelyelpcamp/<%=campground.image%>">
            
            <hr>
            
            <div class="caption-full">
                
                <h6><i class="fa fa-user" aria-hidden="true"></i>Submitted by: <a href="/users/<%= campground.author.id%>"><%= campground.author.username %></a></h6>
                <p id="campgroundDesc" class="breakword"><%- campground.description %></p>
                <hr>
                <div id="campgroundRatingDiv">
                    <div id="campgroundRating">
                        <p><strong>Campground Rating:</strong></p>
                        <div id="rateYoStatic"></div>
                    </div>
                    <div id="rateCampgroundDiv">
                        <p><strong>Leave a Rating:</strong></p>
                        <% if(currentUser) { %>
                            <div id="rateYoDynamic"></div>
                        <% } else { %>
                            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> You must be <a href="/login">logged in</a> do to that </p>
                        <% } %>
                    </div>
                </div>
                <hr>
                <p><strong>Location: </strong><%- campground.location %></p>
                <% if(campground.latlng) { %>
                    <div id="map" class="map">
                        <script>
                            var latlngObj = new google.maps.LatLng(<%=campground.latlng%>);
                            var map = new google.maps.Map(document.getElementById('map'));
                            map.setCenter(latlngObj);
                            map.setZoom(6);
                            var marker = new google.maps.Marker({
                                position: latlngObj,
                                map: map
                            });
                        </script>
                    </div>
                    <hr>
                <% } %>
               
            </div>
            
        </div> <!-- end of campgroundInfo -->

        
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Leave Review</a>
            </div>
                <% var i = 1; %>
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <strong><a href="/users/<%= comment.author.id%>"><%=comment.author.username%></a></strong>
                            <% var commdateid = "comment_" + i + "_date"; 
                               i++; %>
                            <span id="<%=commdateid%>" class="pull-right"></span>
                            <script>
                                var commID = "<%=comment._id%>"; 
                                var mom = moment(parseInt(commID.slice(0,8), 16)*1000).format('YYYY-MM-DD');
                                $('#<%=commdateid%>').text(mom);
                            </script>
                            <p class="commenttext"><%=comment.text%> </p>
                        </div>
                    </div> <!--End of row -->
                    <% if(currentUser && currentUser.id == comment.author.id) { %>
                        <a class="btn btn-info btn-xs" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                        <form id="<%=comment._id%>CommentDeleteForm" class="inline" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST"> 
                            <button id="<%=comment._id%>CommentDeleteButton" class="btn btn-danger btn-xs"> Delete </button>
                        </form>
                        <script>
                            $("#<%=comment._id%>CommentDeleteButton").on("click", function(e) {
                                e.preventDefault(); 
                                confirmDelete($("#<%=comment._id%>CommentDeleteForm"));
                            });
                        </script>
                    <% } %>
                <% }); %>
            </div>
        </div> <!--End of well-->

    </div> <!-- End of Container -->
                            

<% include ../partials/footer %>

<script>

$(function () {
    $("#rateYoStatic").rateYo({
        starWidth: "23px"
    });
});

$(function () {
    $("#rateYoDynamic").rateYo({
        starWidth: "23px"
    });
});
</script>